/*Reset digunakan untuk mengembalikan nilai margin atau padding pada
elemen html. Misalnya pada body, sudah memiliki nilai default sendiri
untuk margin atau paddingnya. Reset membantu kita untuk memiliki kendali 
penuh terhadap elemen tersebut.*/

body{ /*Berarti kita mereset elemen body saja*/
    margin: 0px;
    padding: 0px;
}

*{/*Berarti kita mereset semua elemen yang ada didalam html*/
    margin: 0px;
    padding: 0px;
}

div{
    width: 300px;
    height: 400px;
    background-color: hotpink;
}

/*Jika tidak direset maka pada bagian atas dan kiri box ada ruang sedikit.
Itu adalah nilai deffault*/

